.platforms-section {
    padding: var(--primary-padding) 0;
  }
  
  .platform-icon {
    margin: 40px;
  }

  @media (max-width: 768px) {
    .platforms-list {
      justify-content: center;
    }
  }